<%-include('parts/header') %>

<section class="vh-100 d-flex flex-column justify-content-center align-items-center bg-light bdate">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center p-5">
                    <h1>Birthday Date</h1>
                    <img height="100" src="./images/birthday-cake.svg" alt="Birthday Cake">
                </div>
            </div>
        </div>
    </div>
</section>

<%-include('parts/footer') %>
