<%-include('./parts/header') %> 
    <h1>Hello world</h1>
    <ul class="routes">
        <li>
            <a href="/signup">Registration</a>
            <a href="/bdate">Birthday</a>
        </li>
    </ul>
<%-include('./parts/footer') %> 
