<%-include('./parts/header') %> 
<%-include('./parts/navbar')  %> 
    <section class="">
        <div class="container ">
            <div class="text-center"><%= title %> </div>
        </div>
    </section>
<%-include('./parts/footer') %> 
