@font-face {
    font-family: 'Arial Regular';
    src: url('ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
    url('ArialMT.woff') format('woff'),
    url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body {
    font-family: 'Arial Regular' !important;
}
.fa-facebook-square {
    font-size: 1.25em;
}
.or-line .left-line {
    width: 40% !important;
    margin-right: auto;
}
.or-line .right-line {
    width: 40%;
    margin-left: auto;
}
.or-line span {
    font-size: 14px;
    font-weight: bold;
}
.signup-form input {
    background-color: #fafafa;
}
.navbar-search {
    text-align: center;
}
.nav-list .nav-item .nav-link > img {
    height: 23px !important;
    width: 23px !important;
}
.profile-icon {
    border-radius: 50%;
    height: 23px !important;
    width: 23px !important;
}
.dropdown-toggle:focus {
    box-shadow: none !important;
}
.profile-label {
    cursor: pointer;
}
.settings-icon img {
    height: 23px !important;
    width: 23px !important;
}
.nav-tabs > .nav-item > .nav-link > p {
    font-size: 12px !important;
    letter-spacing: 1px;
    color: #212529;
}
.nav-tabs > .nav-item {
    padding: 1rem;
}
.nav-tabs > .nav-item > .nav-link  {
    display: flex;
}

